<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tree">


    <permission
        android:name="com.example.tree.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" /> <!-- 권한 부여 설정 -->
    <uses-permission android:name="com.example.tree.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tree"
        android:usesCleartextTraffic="true">

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="개인 API 키" /> <!-- value는 API키 -->
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Co2CalActivity" />
        <activity android:name=".allRankingActivity"/>
        <activity android:name=".Main.MainTreeActivity"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".NeighborhoodActivity" />
        <activity android:name=".NeighborhoodAddActivity" />
        <activity android:name=".SettingActivity" />

    </application>

</manifest>